{{define "chapter04/valid_data.html"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
data validation<br>

<form action="/chapter04/do_valid" method="post">
    Title      :<input type="text" name="title"><br>
    Content    :<input type="text" name="content"><br>
    Description:<input type="text" name="desc"><br>
    Email      :<input type="text" name="email"><br>
    <input type="submit" value="submit"><br>
</form>
</body>
</html>
{{end}}