{{define "chapter02/test_upload3.html"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="http://apps.bdimg.com/libs/jquery/2.1.1/jquery.min.js"></script>
</head>
<body>
ajax单文件上传<br>
<form>
    <input type="file" id="file"><br>
    <input type="text" id="name"><br>
    <input type="button" value="submit" id="btn_upload"><br>
</form>

<script>
    var btn_upload = document.getElementById("btn_upload");
    var name = document.getElementById("name").value;
    btn_upload.onclick = function (ev) {
        var formData = new FormData();

        //console.log($("#file"));
        //console.log($("#file")[0].files[0]);    //控制台打印出类型是数组

        formData.append("file", $("#file")[0].files[0])
        formData.append("name", name)

        $.ajax({
            url:"/chapter02/test_do_upload3",
            type:"POST",
            data:formData,
            contentType:false,  //设置为true时候，提交的时候不会序列化data，而是直接使用data
            processData:false,  // 设置为false为了避免jquery对其操作，从而失去分界符
            success:function (data) {

            },
            fail:function (data) {

            }
        })

    }
</script>
</body>
</html>
{{end}}